h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: #28306b;
  font-size: 8em;
  /*font-family: 'Cousine', monospace;*/
  font-family: 'UnifrakturMaguntia', cursive;
}
